/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


	}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.flex-wrap .flex-content {
	width: 80%;
	}
/* .nav.nav-pills {
	display: none;
} */

.sandvich {
	display: block;
	position: absolute;
	right: 25px;
	top: 8px;
	padding: 3px;
	line-height: 1;
	border: 1px;
	border-radius: 3px;

}
.mfp-content #modal-menu.nav-pills {
	float: none;
}
/* .mfp-content {

	display: flex;
	justify-content: center;
} */
.mfp-content #modal-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
		
 
	}
	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.flex-wrap .flex-content {
	width: 100%;
	}	
	 
	}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}



